#wrapper {
			min-height:100%;
			position:relative;
		}
		#header {
			border-radius: 8px;
			background:black;
			padding:10px;
height:70px;
		}
		#content {
			padding-bottom:50px; /* Height of the footer element */
		}
body{ background-color : #eecffa; }	
		#footer {
			padding-top:10px;
			border-radius: 8px;
			background:black;
			width:100%;
			height:50px;
			position:absolute;
			bottom:0;
			left:0;
		}
		.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
font-size:112%;
        display: inline-flex;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.dropdown {
float:right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover {background-color:#eecffa;}
.dropdown:hover .dropbtn {
    background-color: #eecffa;
}

		textarea, select {
				    width: 100%;
				    padding: 12px 20px;
				    margin: 8px 0;
				    display: inline-block;
				    border: 1px solid #ccc;
				    border-radius: 4px;
				    box-sizing: border-box;
				}
				input[type=submit] {
				    width: 20%;
				    background-color: #4CAF50;
				    color: white;
				    padding: 14px 20px;
				    margin: 8px 0;
				    border: none;
				    border-radius: 4px;
				    cursor: pointer;
				}

				input[type=submit]:hover {
				    background-color: #45a049;
				}

				div.contact {
				width: 60%;
				    height: 670px;
				    background-color: white;
				    margin:0 auto;
				    margin-top: 40px;
				    padding-top: 30px;
				    padding-left: 40px;
				     padding-right: 40px;
					padding-bottom: 30px;
				    border-radius: 5px;
				    color: black;
				    font-weight: bolder;
				    font-size: 18px;
	
				}
.topim {width: 20px;
height: 20px;
background: #555;
vertical-align:sub;
}
.im {float: left;
width: 20px;
height: 20px;
background: #555;
}	
.a {background-color:'black';width:100%;}
.b{text-align:left;width:6%;color:white;}
.c{text-align:center;width:88%;color:white;}
.d{width:6%;}
.hb{padding-top:1%;padding-left:4vw;}
.ha{ padding-top: 3%;}
#Text {color:green;}

.foot{background-color:'black'; width:98%; }
.p {width: 92%;}
.copyright {align:left; color:white;}
.q, .r{width: 4%;}
#goog{height:40;width:40;}
#twit{height:30;width:30;}
textarea { resize:none;}

		#goog:hover, #twit:hover {transform: scale(1.1);}
