#wrapper {
	min-height:100%;
	position:relative;
}
#header {
border-radius: 8px;
	background:black;
	padding:10px;
height:70px;
}
#content {
	padding-bottom:50px; /* Height of the footer element */
}
body{ background-color : #eecffa; }	
#footer {
border-radius: 8px;
padding-top:10px;
	background:black;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}
		.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
        display: inline-flex;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.dropdown {
float:right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover {background-color:#eecffa;}
.dropdown:hover .dropbtn {
    background-color: #eecffa;
}

		.modal {
		    display: none;
		    position: fixed;
		    z-index: 1; 
		    padding-top: 100px;
		    left: 0;
		    top: 0;
		    width: 100%; 
		    height: 100%;
		    overflow: auto; 
		    background-color: rgb(0,0,0);
		    background-color: rgba(0,0,0,0.4); 
		}
		.modal-content {
		    background-color: #fefefe;
		    margin: auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 30%;
		}
		    color: #aaaaaa;
		.close {
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close:hover,
		.close:focus {
		    color: red;
		    text-decoration: none;
		    cursor: pointer;
		}
.topim {width: 20px;
height: 20px;
background: #555;
vertical-align:sub;
}
.im {float: left;
width: 20px;
height: 20px;
background: #555;
}	
#goog:hover, #twit:hover {transform: scale(1.1);}

